# Python tutorial for Data Science

Python tutorial for Data Science

In [2]:
print("Hello world")

Hello world

In [3]:
x=10

In [4]:
%whos    # to see what variables you have created and what modules you have loaded into the computer's memory

Variable   Type    Data/Info
----------------------------
x          int     10

In [5]:
x=5.3

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.3

In [7]:
print(type(x))

<class 'float'>

In [8]:
abcd=55.3

In [9]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    55.3
x          float    5.3

In [10]:
a,b,c,d=10,2.5,3.0,"hello"

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
abcd       float    55.3
b          float    2.5
c          float    3.0
d          str      hello
x          float    5.3

In [14]:
del abcd   #for delete

NameError: name 'abcd' is not defined

In [13]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          float    2.5
c          float    3.0
d          str      hello
x          float    5.3

In [15]:
print(abcd)

NameError: name 'abcd' is not defined

In [16]:
del d   #delete d

In [17]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          float    2.5
c          float    3.0
x          float    5.3

In [18]:
m=2+4j

In [19]:
print(type(m))

<class 'complex'>

In [20]:
s="Hello Nikku"

In [21]:
type(s)

str

In [22]:
print(type(s))

<class 'str'>

In [23]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        10
b          float      2.5
c          float      3.0
m          complex    (2+4j)
s          str        Hello Nikku
x          float      5.3

In [24]:
sumOfaAndb=a+b

In [25]:
print(sumOfaAndb)

12.5

In [26]:
type(a+c)

float

In [27]:
v=((a+c)**3)/4

In [28]:
print(v)

549.25

In [29]:
%whos

Variable     Type       Data/Info
---------------------------------
a            int        10
b            float      2.5
c            float      3.0
m            complex    (2+4j)
s            str        Hello Nikku
sumOfaAndb   float      12.5
v            float      549.25
x            float      5.3

In [32]:
s1="Hello "
s2="Vishal"
s=s1+s2
print(s)

Hello Vishal

In [33]:
%whos

Variable     Type       Data/Info
---------------------------------
a            int        10
b            float      2.5
c            float      3.0
m            complex    (2+4j)
s            str        Hello Vishal
s1           str        Hello
s2           str        Vishal
sumOfaAndb   float      12.5
v            float      549.25
x            float      5.3

In [34]:
10//3

3

In [35]:
10/3

3.3333333333333335

In [37]:
_        #by default it return the last operation but we can also assign like this (_=10  it means that _ has a value of 10)

3.3333333333333335

In [38]:
3x=5

SyntaxError: invalid decimal literal (2695640289.py, line 1)

In [39]:
*t=4     # we cannot assign the variable like this

SyntaxError: starred assignment target must be in a list or tuple (586144205.py, line 1)

In [40]:
@y=10    # we cannot assign the variable like this

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3837998266.py, line 1)

In [41]:
_abc=20   # we can assign like this

In [42]:
print(_abc)

20

In [43]:
%whos

Variable     Type       Data/Info
---------------------------------
a            int        10
b            float      2.5
c            float      3.0
m            complex    (2+4j)
s            str        Hello Vishal
s1           str        Hello
s2           str        Vishal
sumOfaAndb   float      12.5
v            float      549.25
x            float      5.3

# Boolean

In [44]:
a=true
b=true
c=false

NameError: name 'true' is not defined

In [45]:
a=True
b=True
c=False

In [46]:
%whos

Variable     Type       Data/Info
---------------------------------
a            bool       True
b            bool       True
c            bool       False
m            complex    (2+4j)
s            str        Hello Vishal
s1           str        Hello
s2           str        Vishal
sumOfaAndb   float      12.5
v            float      549.25
x            float      5.3

In [47]:
print(a and b)
print(b and c)
print(c and a)
print(a or b)

True
False
False
True

In [48]:
d= a or c

In [49]:
print(d)

True

In [50]:
type(d)

bool

In [51]:
not(a)

False

In [52]:
not(c)

True

In [53]:
e=not(c)

In [54]:
print(e)

True

In [55]:
not((a and b) or (a and c))

False

# Comparisons

Priority between (and , or ) is   and > or   , First operate and then or

In [1]:
print(2<3)
print(8>5)
a= 9<3
print(a)
print(type(a))

True
True
False
<class 'bool'>

In [2]:
3==3.0     # it compare the values not the value is int or not

True

In [3]:
x=4
y=9
z=8.3
r=-3

In [4]:
(x<y) and (z<y) or (r==x)

True

In [5]:
(r==x) and (x<y) or (z>y)

False

# round function in Python

In [8]:
print(round(4.556))
print(round(4.345))

5
4

In [7]:
print(round(4.556389,3))

4.556

# divmod in Python
The function divmod(a,b) -> it return the tuple in which the first value is quotient and second is remainder i.e (Q,R)

In [9]:
B= divmod(27,5)

In [10]:
type(B)

tuple

In [14]:
print(B)
B[0]

(5, 2)

5

In [15]:
B[1]

2

In [16]:
G=divmod(34,9)

In [17]:
print(G)
type(G)

(3, 7)

tuple

In [18]:
G[0]

3

In [19]:
G[1]

7

In [26]:
34//9    # it return the int value

3

In [23]:
34/9     # ite return the float value

3.7777777777777777

In [25]:
34%9     # it return remainder

7

 # isinstance in Python
It check the value is data type or not and return true or false

In [27]:
isinstance(3,int)   # it check that 3 is int or not

True

In [28]:
isinstance(3.4,(float,int))   # it check that 3.4 is float or int , if one of the parameter is true the  it return true

True

In [29]:
isinstance(2+3j,(int,float,complex,str))

True

# pow(a,b,c) function in Python

In [30]:
pow(2,4)

16

In [31]:
2**4

16

In [33]:
pow(2,4,7)    # it means that (2**4)%7 , it return the remainder

2

# input function

In [34]:
x=input("Enter the value of x: ")

Enter the value of x: 20

In [35]:
print(x)
print(type(x))   # by default it is string

20
<class 'str'>

In [36]:
x=int(x)     # typecast from dtring to int
print(x)
print(type(x))

20
<class 'int'>

In [37]:
print(x-34)

-14

# help and ? in python
To read the documentation in python we use -> help(fn name) or fn-name?

In [38]:
pow?

In [39]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [40]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [41]:
input?

In [42]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [43]:
a=int(input("Enter a :"))
b=int(input("Enter b :"))
if(a>b):
    print(a," is greater than ",b)

Enter a :20
Enter b :15
20  is greater than  15

In [44]:
round(-8.3)

-8

In [45]:
round(-9.6)

-10

In [46]:
n=int(input("Enter n: "))
i=1
while i<n:
    print(i**2)
    print("This is iteration ",i)
    i+=1
print("Loop end")

Enter n: 5
1
This is iteration  1
4
This is iteration  2
9
This is iteration  3
16
This is iteration  4
Loop end

In [1]:
x=float(input("Enter a real number: "))
y=round(x)

if(x>0):
    if(y>x):
        intPortion=y-1
    else:
        intPortion=y
else:
    if(y<x):
        intPortion=y+1
    else:
        intPortion=y
if intPortion%2==0:
    print("Even")
else:
    print("Odd")

Enter a real number: -87.3
Odd

In [2]:
round(-9.3)

-9

In [3]:
L=[]
for i in range(1,20,3):
    print(i)
    L.append(i**2)
print(L)

1
4
7
10
13
16
19
[1, 16, 49, 100, 169, 256, 361]

In [4]:
S={"apple",4.9,"cherry"}
i=1
for x in S:
    print(x)
    i+=1
    if i==3:
        break
    else:
        pass
else:
    print("Loop terminates when i==3")
print("Out side the loop")

apple
4.9
Out side the loop

In [5]:
D={"A":10,"B":-19,"C":"abc"}
for x in D:
    print(x,D[x])

A 10
B -19
C abc

# Function in Python

In [6]:
def printSucess():
    print("I am done")

In [7]:
printSucess()

I am done

In [8]:
3+8

11

In [9]:
def mypow(a,b):
    c=a**b
    print(c)

In [10]:
mypow(3,4)

81

In [11]:
def myadd(a,b):
    return a+b

In [12]:
d=myadd(5,4)
print(d)

9

In [13]:
varOutFn=3
def g():
    varOutFn=5

In [14]:
print(varOutFn)

3

In [15]:
print(type(g))

<class 'function'>

In [16]:
print(type(g()))

<class 'NoneType'>

In [19]:
def myAddUniversal(*args):
    s=0
    print("The length of parameter which is passed : ",len(args))     # print the length which is passed in the fn
    for i in range(len(args)):
        s+=args[i]
    return s

In [23]:
print(myAddUniversal(2,4,6,8,10))

The length of parameter which is passed :  5
The length of parameter which is passed :  5
The length of parameter which is passed :  5
The length of parameter which is passed :  5
The length of parameter which is passed :  5
30

In [24]:
def keyAndValue(**args):     # **args include key and value pair
    for x in args:
        print("Key : ",x," Value: ",args[x])

In [25]:
keyAndValue(a=3,b="B",c="CCC",y=6.7)

Key :  a  Value:  3
Key :  b  Value:  B
Key :  c  Value:  CCC
Key :  y  Value:  6.7

In [26]:
def gg(s=4):    # assign the value 4 in s
    print(s)

In [27]:
gg()

4

In [28]:
gg(56)

56

In [29]:
L=[1,2,3]
L2=L
L2[0]=-9
print(L)

[-9, 2, 3]