# Python tutorial

This is my first tutorial

In [2]:
print("Hello world")

Hello world

In [3]:
x=10

In [4]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     10

In [5]:
x=5.3

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.3

In [7]:
print(type(x))

<class 'float'>

In [8]:
abcd=55.3

In [9]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    55.3
x          float    5.3

In [10]:
a,b,c,d=10,2.5,3.0,"hello"

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
abcd       float    55.3
b          float    2.5
c          float    3.0
d          str      hello
x          float    5.3

In [14]:
del abcd   #for delete

NameError: name 'abcd' is not defined

In [13]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          float    2.5
c          float    3.0
d          str      hello
x          float    5.3

In [15]:
print(abcd)

NameError: name 'abcd' is not defined

In [16]:
del d   #delete d

In [17]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          float    2.5
c          float    3.0
x          float    5.3

In [18]:
m=2+4j

In [19]:
print(type(m))

<class 'complex'>

In [20]:
s="Hello Nikku"

In [21]:
type(s)

str

In [22]:
print(type(s))

<class 'str'>

In [23]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        10
b          float      2.5
c          float      3.0
m          complex    (2+4j)
s          str        Hello Nikku
x          float      5.3

In [24]:
sumOfaAndb=a+b

In [25]:
print(sumOfaAndb)

12.5

In [26]:
type(a+c)

float

In [27]:
v=((a+c)**3)/4

In [28]:
print(v)

549.25

In [29]:
%whos

Variable     Type       Data/Info
---------------------------------
a            int        10
b            float      2.5
c            float      3.0
m            complex    (2+4j)
s            str        Hello Nikku
sumOfaAndb   float      12.5
v            float      549.25
x            float      5.3

In [32]:
s1="Hello "
s2="Vishal"
s=s1+s2
print(s)

Hello Vishal

In [33]:
%whos

Variable     Type       Data/Info
---------------------------------
a            int        10
b            float      2.5
c            float      3.0
m            complex    (2+4j)
s            str        Hello Vishal
s1           str        Hello
s2           str        Vishal
sumOfaAndb   float      12.5
v            float      549.25
x            float      5.3

In [34]:
10//3

3

In [35]:
10/3

3.3333333333333335

In [37]:
_        #by default it return the last operation but we can also assign like this (_=10  it means that _ has a value of 10)

3.3333333333333335

In [38]:
3x=5

SyntaxError: invalid decimal literal (2695640289.py, line 1)

In [39]:
*t=4     # we cannot assign the variable like this

SyntaxError: starred assignment target must be in a list or tuple (586144205.py, line 1)

In [40]:
@y=10    # we cannot assign the variable like this

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3837998266.py, line 1)

In [41]:
_abc=20   # we can assign like this

In [42]:
print(_abc)

20

In [43]:
%whos

Variable     Type       Data/Info
---------------------------------
a            int        10
b            float      2.5
c            float      3.0
m            complex    (2+4j)
s            str        Hello Vishal
s1           str        Hello
s2           str        Vishal
sumOfaAndb   float      12.5
v            float      549.25
x            float      5.3

# Boolean

In [44]:
a=true
b=true
c=false

NameError: name 'true' is not defined

In [45]:
a=True
b=True
c=False

In [46]:
%whos

Variable     Type       Data/Info
---------------------------------
a            bool       True
b            bool       True
c            bool       False
m            complex    (2+4j)
s            str        Hello Vishal
s1           str        Hello
s2           str        Vishal
sumOfaAndb   float      12.5
v            float      549.25
x            float      5.3

In [47]:
print(a and b)
print(b and c)
print(c and a)
print(a or b)

True
False
False
True

In [48]:
d= a or c

In [49]:
print(d)

True

In [50]:
type(d)

bool

In [51]:
not(a)

False

In [52]:
not(c)

True

In [53]:
e=not(c)

In [54]:
print(e)

True

In [55]:
not((a and b) or (a and c))

False